body {
  font-family: "Roboto", Arial, sans-serif !important;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

#main-body {
  margin: 0;
  padding: 0;
}

.clear-both {
  clear: both !important;
  float: none !important;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
}

.container {
  width: 250px;
}

.container ul li {
  font-size: 14px;
  color: #333;
  line-height: 1.6;
  transition: 0.2s;
  padding: 3px 5px;
  margin-bottom: 3px;
}

.container ul li:hover {
  background: #97A2DF;
  cursor: pointer;
}

.container ul li.disabled {
  color: gray;
}

.container ul li.disabled:hover {
  background: #fff;
}

#video-container {
  text-align: center;
}

#video-container video {
  height: 200px;
  vertical-align: top;
}


#video-container video:last-of-type {
  margin: 0 0 20px 0;
}

#video-container video#gumVideo {
  margin: 0 20px 20px 0;
}

#main-container {
  max-width: 400px;
  padding: 0;
  text-align: center;
  margin: 0 auto;
}

#extension-name {
  font-size: 19px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  color: #313131;
}


#timer {
  font-size: 30px;
  float: left;
  line-height: 40px;
}

#finish {
  cursor: pointer;
  float: right;
  font-size: 18px;
  background-color: #FF5722;
  border: 1px solid #FF5722;
  color: #f3f3f3;
  padding: 10px 20px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#finish:hover,
#finish:focus {
  text-decoration: none;
}

#finish:hover {
  background-color: #ffffff;
  color: #FF5722;
}


#canvas {
  display:none;
}
